<launch>
    <arg name="lighthouse" default="0xddC8b7F57a8D59AF88C26ea1dd552f965dE1a8A0" />
    <arg name="token" default="0x0Cf0Ee63788A0849fE5297F3407f701E122cC023" />
    <!-- Streamr API key -->
    <arg name="auth_token" default="" />

    <!-- GMail login and app password -->
    <arg name="login" default="" />
    <arg name="email_from" default="" />
    <arg name="email_password" default="" />

    <node name="streamr_trader" pkg="streamr_agent" type="streamr_trader_node" output="screen">
        <param name="model" value="QmbpGnAyjNeNabUg8gaxTUKDPcozCRDd2JaVck7uHXDu9g" />
        <param name="lighthouse" value="$(arg lighthouse)" />
        <param name="token" value="$(arg token)" />
        <param name="order_lifetime" value="100" />
    </node>

    <node name="streamr_publisher" pkg="streamr_agent" type="streamr_publisher_node" output="screen">
        <param name="smtp_provider" value="smtp.gmail.com" />
        <param name="smtp_port" value="587" />
        <param name="login" value="$(arg login)" /> <!-- Gmail account login -->
        <param name="email_from" value="$(arg email_from)" /> <!-- if empty, use login as email from -->
        <param name="email_password" value="$(arg email_password)" /> <!-- app password -->

        <param name="auth_token" value="$(arg auth_token)" />
    </node>
</launch>
